.sidebar {
  position: fixed;
  width: 16rem;
  top: 56px; // hauteur de ta navbar
  height: calc(100vh - 56px);
  background: white;
  border-right: 1px solid #e5e7eb;
  padding: 16px;
  left: 0;
}

.btn-new-routine {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  padding: 0.6rem 1rem;
  background: transparent;
  color: #111827;
  border: 2px dashed #d1d5db;
  border-radius: 8px;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 600;
}

.btn-new-routine:hover {
  border-color: #999;
  color: #000;
}

.main-content {
  margin-left: 16rem;
  padding: 20px;
}
