
 <div class="hero">
  <div class="container">
    <div class="hero-flex-wrapper">

      <div class="hero-text-content">
        <h1>Stop following a program,<br> create your own in one click.</h1>
      </div>

      <div class="button-center-zone">
        <%= link_to "Go to my dashbord", chats_path, data: {turbo_method: :post}, class: "btn-custom-primary btn-reveal" %>
      </div>

      <div class="hero-logo-container">
        <%= image_tag("logo bien.png", class: "hero-logo-large") %>
      </div>

    </div>
  </div>
</div>
