.btn-custom-secondary {
  background-color: #FF4401;
  padding: 8px 18px;
  border-radius: 10px;
  color: white;
  & :hover {
    background: #e03c00;
  }
}

.btn-custom-primary {
  display: inline-block;
  padding: 15px 35px;
  background-color: #DA3D20;
  color: white;            /* Texte foncé pour une lisibilité maximale */
  text-decoration: none;
  border-radius: 50px;       /* Bords très arrondis comme sur l'image */
  font-weight: bold;
  font-size: 1.1rem;
  transition: all 0.3s ease;
  border: none;
  box-shadow: 0 4px 15px rgba(218, 61, 32, 0.5); /* Effet de lueur */

  &:hover {
  /* On garde la couleur du texte */
  color: white;
  /* OPTIONNEL : On accentue un peu l'ombre pour simuler une pression ou un survol */
  box-shadow: 0 6px 20px rgba(218, 61, 32, 0.5);
  /* OPTIONNEL : Un très léger agrandissement sans changer la couleur */
  transform: scale(1.05);
  background: #e03c00;
  }
}
